<div class="form-group {{ form_class }}" data-target-dependency="{{ target }}" data-answer-dependency="{{ answer }}">
  <label>
    {{label}}
    @if(required)
      <span class="text-danger">*</span>
    @endif

  </label>
  @!component('components/induk_pertanyaan_radio',{
    'questions':soals,
    'target':target
  })

</div>
