@layout('layout.layout')

@section('content')
<div class="card card-custom">
  <div class="card-header">
    <h3 class="card-title">
      Beranda
    </h3>

  </div>
  <div class="card-body text-center text-bold " style="font-size:24px;padding:5em 2em">
    Rekap Pengisian Tracer Study 2021
  </div>
</div>

@endsection
