<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->

<head>
  <base href="../../../../">
  <meta charset="utf-8" />
  <title>Tracer Study</title>
  <meta name="description" content="Login page example" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="canonical" href="https://keenthemes.com/metronic" />
  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
  <!--end::Fonts-->
  <!--begin::Page Custom Styles(used by this page)-->
  <link href="{{assetsUrl('/assets/css/pages/login/classic/login-4.css')}}" rel="stylesheet" type="text/css" />
  <!--end::Page Custom Styles-->
  <!--begin::Global Theme Styles(used by all pages)-->
  <link href="{{assetsUrl('/assets/plugins/global/plugins.bundle.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{assetsUrl('/assets/plugins/custom/prismjs/prismjs.bundle.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{assetsUrl('/assets/css/style.bundle.css')}}" rel="stylesheet" type="text/css" />
  <!--end::Global Theme Styles-->
  <!--begin::Layout Themes(used by all pages)-->
  <!--end::Layout Themes-->
  <link href="{{assetsUrl('/assets/css/custom-style.css')}}" rel="stylesheet" type="text/css" />

  <link rel="shortcut icon" href="{{assetsUrl('/assets/media/logos/favicon.ico')}}" />

</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="header-fixed subheader-enabled page-loading">
  <!--begin::Main-->
  <div class="d-flex flex-column flex-root">

    <!--begin::Login-->
    <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
      <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat"
        style="background-image: url('/assets/media/bg/bg-7.jpg');">
        <div class="login-form p-7 position-relative overflow-hidden">

          <!--begin::Login Sign in form-->
          <div class="card p-5 login-signin mb-7">
            <div class="card-header text-center mb-20">
              <img src="{{assetsUrl('/assets/media/logos/unsyiah.png')}}" class="max-h-100px mb-3" alt="" />
              <h3>Tracer Study D3 USK</h3>
              <div class="text-muted font-weight-bold">Login</div>
            </div>
            <form class="form" method="POST" class="card-body" id="form"
              action="{{ route('auth.authentication_admin') }}">
              {{ csrfField() }}
              @!component('components/input',{
              'form_class':'mb-5',
              'input_class' : 'h-auto py-4 px-8',
              'placeholder': '1708107010026',
              'name':'nim',
              'label':'NPM',
              'required':true,
              'type':'text'
              })
              @!component('components/input',{
              'form_class':'mb-5',
              'input_class' : 'h-auto py-4 px-8',
              'placeholder': 'Password',
              'name':'password',
              'label':'Password',
              'required':true,
              'type':'password',
              'notification':'<a href="#" class="text-primary">Lupa password?</a>'

              })

              <div class="form-group text-right">

                <button class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Masuk</button>
              </div>
            </form>
          </div>

          <!--end::Login Sign in form-->
        </div>


      </div>
    </div>
  </div>
  <!--end::Login-->
  </div>
  <!--end::Main-->
  <script>
    var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";

  </script>
  <!--begin::Global Config(global config for global JS scripts)-->
  <script>
    var KTAppSettings = {
      "breakpoints": {
        "sm": 576,
        "md": 768,
        "lg": 992,
        "xl": 1200,
        "xxl": 1200
      },
      "colors": {
        "theme": {
          "base": {
            "white": "#ffffff",
            "primary": "#8950FC",
            "secondary": "#E5EAEE",
            "success": "#1BC5BD",
            "info": "#6993FF",
            "warning": "#FFA800",
            "danger": "#F64E60",
            "light": "#F3F6F9",
            "dark": "#212121"
          },
          "light": {
            "white": "#ffffff",
            "primary": "#EEE5FF",
            "secondary": "#ECF0F3",
            "success": "#C9F7F5",
            "info": "#E1E9FF",
            "warning": "#FFF4DE",
            "danger": "#FFE2E5",
            "light": "#F3F6F9",
            "dark": "#D6D6E0"
          },
          "inverse": {
            "white": "#ffffff",
            "primary": "#ffffff",
            "secondary": "#212121",
            "success": "#ffffff",
            "info": "#ffffff",
            "warning": "#ffffff",
            "danger": "#ffffff",
            "light": "#464E5F",
            "dark": "#ffffff"
          }
        },
        "gray": {
          "gray-100": "#F3F6F9",
          "gray-200": "#ECF0F3",
          "gray-300": "#E5EAEE",
          "gray-400": "#D6D6E0",
          "gray-500": "#B5B5C3",
          "gray-600": "#80808F",
          "gray-700": "#464E5F",
          "gray-800": "#1B283F",
          "gray-900": "#212121"
        }
      },
      "font-family": "Poppins"
    };

  </script>
  <!--end::Global Config-->
  <!--begin::Global Theme Bundle(used by all pages)-->
  <script src="{{assetsUrl('/assets/plugins/global/plugins.bundle.js')}}"></script>
  <script src="{{assetsUrl('/assets/plugins/custom/prismjs/prismjs.bundle.js')}}"></script>
  <script src="{{assetsUrl('/assets/js/scripts.bundle.js')}}"></script>
  <!--end::Global Theme Bundle-->
  <!--begin::Page Scripts(used by this page)-->
  <script src="{{assetsUrl('/assets/js/pages/custom/login/login-general.js')}}"></script>
  <!--end::Page Scripts-->

  <script src="{{assetsUrl('/assets/js/custom/validation.js')}}"></script>

</body>
<!--end::Body-->

</html>
