<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Verifikasi email</title>

  <style>
    p {
      font-family: Arial, Helvetica, sans-serif;
    }

    .button {
      position: relative;
      background-color: #4CAF50;
      border: none;
      font-size: 18px;
      color: #FFFFFF;
      padding: 10px;
      width: 200px;
      text-align: center;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }

    .button:after {
      content: "";
      background: #f1f1f1;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }

    .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }

  </style>
</head>

<body>
  <center>

    <h1>UNIVERSITAS SYIAH KUALA</h1>
    <p>Selamat! Akun anda sudah terdaftar di Operator Tracer Study Universitas Syiah Kuala</p>

    <p><strong>Mohon lakukan verifikasi alamat email anda</strong></p>
    <p>Jika anda tidak membuat Akun Operator Tracer Study Admin Universitas Syiah Kuala menggunakan alamat email ini,
    </p>
    <p>hubungi kami di <i>helpdesk.cdc@unsyiah.ac.id.</i></p>

    <p><b>Nama: {{nama}}</b></p>
    <p><b>Username: {{username}}</b></p>
    <p><b>Password: {{password}}</b></p>


  </center>
</body>

</html>
